@import url(style.css);
body {
  width: 100%;
  background-color: grey;
  z-index: 2;
  position: static; }

.konten {
  margin-top: 13%;
  width: 100%;
  background-color: white;
  background-position: center; }

.konten--kiri img {
  max-width: 350px;
  max-height: 300px; }
.konten--kiri button {
  margin: 10px; }

.konten--tengah h3 {
  font-size: 45sp;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
.konten--tengah P {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  line-height: 1.5; }
.konten--tengah hr {
  border-top: 1px solid; }

.konten--kanan img {
  max-width: 100px;
  max-height: 100px; }

/*# sourceMappingURL=detail.css.map */
