.navbar {
  background-color: black;
  height: 100px; }

.header {
  font: 100% Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: black; }

.header--logo {
  font-size: 30px; }

.header__nav {
  font-size: 15px;
  padding: 10px;
  position: relative; }
  .header__nav ul li a {
    color: white; }
    .header__nav ul li a:hover {
      background-color: cornflowerblue; }

.carousel-caption {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .carousel-caption h3 {
    font-size: 50px; }
  .carousel-caption p {
    font-size: 30px; }

.card-img-top {
  max-height: 150px; }

.first {
  margin-top: 5%; }

.first__image img {
  opacity: 0.8;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */ }

.second__title {
  text-align: center;
  color: black;
  padding: 50px;
  font-size: 30px; }

.second--button {
  float: right;
  height: 30px; }

.second--cards {
  margin: 10px 0 20px 0; }

.second--black {
  align-content: center; }

.third__title {
  text-align: center;
  color: black;
  padding: 50px;
  font-size: 30px; }

.third--cards {
  margin: 3%; }

.third--black {
  align-content: center; }

.footer {
  height: 150px;
  width: auto;
  background-color: lightgray; }

.footer--lokasi {
  padding: 10px; }

.footer--profile {
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
