@import "style.css";
$font: Verdana, Geneva, Tahoma, sans-serif;
body{
    width: 100%;
    background-color: grey;
    z-index: 2;
    position: static;
}  
.konten{
    margin-top: 13%;
    width: 100%;
    background-color: white;
    background-position: center;
}
.konten--kiri{
    img{
        max-width: 350px;
        max-height: 300px;
    }
    button{
        margin: 10px;
    }
}
.konten--tengah{
    h3{
        font-size: 45sp;
        font-family: $font;
    }
    P{
        font-family: $font;
        text-align: justify;
        line-height: 1.5;
    }
    hr{
        border-top: 1px solid;
    }
}
.konten--kanan{
   img{
       max-width: 100px;
       max-height: 100px;
   }
}