$font: Verdana, Geneva, Tahoma, sans-serif;
$color : white;
$pad:10px;
$fontsize:30px;
$bghover : cornflowerblue;

.navbar{
    background-color: black;
    height: 100px;
}
.header{
    font: 100% $font;
    width: 100%;
    color: $color;
    padding: $pad;
    background-color: black;
    // background: url(../image/single-part-2.jpg);
    
    
}
.header--logo{
    font-size: $fontsize;
}
.header__nav{
    font-size: 15px;
    padding: $pad;
    position: relative;
    ul{
        li{
            a{
                color: $color;
                &:hover{
                    background-color: $bghover;
                }
            }
            
        }
    }
}
.carousel-caption{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h3{
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }
    
}
.card-img-top{
    max-height: 150px;
}
.first{
    margin-top: 5%;
}
.first__image{
    img {
        opacity: 0.8;
        filter: alpha(opacity=50); /* For IE8 and earlier */
      }
}
.second__title{
        text-align: center;
        color: black;
        padding: 50px;
        font-size: $fontsize;
}
.second--button{
    float: right;
    height: 30px;
}
.second--cards{
    margin: 10px 0 20px 0;
}
.second--black{
    align-content: center;
}
.third__title{
    text-align: center;
    color: black;
    padding: 50px;
    font-size: $fontsize;
}
.third--cards{
margin:3%;
}
.third--black{
align-content: center;
}
.footer{
    height: 150px;
    width: auto;
    background-color: lightgray;
}
.footer--lokasi{
    padding: $pad;
    
}
.footer--profile{
    padding: $pad;
    
}
