<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Detail Film</title>
</head>
<header class="header fixed-top">
    <div class="row navbar ">
        <div class="container">
            <div class="col-md-3 header header--logo">
                MOVIMIN
            </div>
            <div class="col-md-9 header header__nav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">JADWAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pesan.html">PESAN TIKET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TENTANG KAMI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<body class="body" >
    <div class="konten">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="konten--kiri">
                        <img src="image/s.jpg" alt="">
                        <button class="btn btn-outline-primary"><i class="fa fa-play-circle"></i> Tonton Trailer</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="konten--tengah">
                        <h2>SINGLE PART 2</h2>
                        <h5>Comedy | Drama</h5>
                        <p>Ebi, Menuju usia 30 tahun dan masih Single. Menuju usia 30 tahun tanpa pernah pacaran. Menuju usia 30 tahun dan masih sendirian. Sekarang Ebi bertekad sebelum ulang tahunnya yang ke 30 ia harus melepaskan status Singlenya. Ia harus punya pacar. Walau Ebi sama sekali tidak tahu bagaimana caranya.</p>
                        <hr>
                       <div class="row">
                           <div class="col-md-4">
                               <h6>Produser</h6>
                               <h6>Produksi</h6>
                               <h6>Direktor</h6>
                               <h6>Rilis</h6>
                           </div>
                           <div class="col-md-8 konten--tengah">
                               <p>Sunil Soraya <br> 
                                Soraya Intercine Films <br>
                               Raditya Dika <br>
                               4 Juni 2019</p>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="konten--kanan">
                        <h4>Cast</h4>
                        <img src="image/biodata-raditya-dika.jpg" alt="">
                        <img src="image/annisa rawles.jpg" alt="">
                        <img src="image/yoga_arizona-20151007-011-akrom.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row" id="body">
                <my-component v-for="mv in movie" :name="mv.name" :image="mv.image" :deskripsi="mv.deskripsi"></my-component>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 footer--lokasi">
                <h5><i class="fas fa-map-marked-alt"></i> Lokasi Bioskop</h5>
                <hr>
                <p><i class="fas fa-map-marker-alt"></i> MOVIMIN SAWOJAJAR <br> Jl. Danau Ranau, Sawojajar, Kec. Kedungkandang, Kota Malang, Jawa Timur 65139 </p>
            </div>
            <div class="col-md-4 footer--profile">
                <h5><i class="far fa-address-book"></i> Hubungi Kami</h5>
                <hr>
                <p><i class="fa fa-envelope"></i> E-Mail : movimin@support.com <br> <i class="fa fa-phone"></i> Telepon : (0341) 943433</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    
    Vue.component('my-component', {
        props: ['mv', 'image', 'deskripsi', 'name'],
        template: `<div class="col-md-3 second--cards">
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <img :src="image" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{deskripsi}}</p>
                    </div>
                </div>
            </div>
        </div>`
    })
    new Vue({
        el: '#body',
        data: {
            movie:[
            {id:1, name:'Pokemon Detective Pikachu', image:'image/maxresdefault.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
            {id:2, name:'Avengers - End Game', image:'image/avengers.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
            {id:2, name:'Avengers - End Game', image:'image/avengers.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
            {id:3, name:'Upin&Ipin', image:'image/upin.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'}
            ]
        }
    })
</script>
</html>
