<!DOCTYPE html>
<html>
<head>
	<title>MOVIMIN</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<header class="header fixed-top">
	<div class="container">
		<div class="row navbar ">
			<div class="col-md-3 header header--logo">
				MOVIMIN
			</div>
			<div class="col-md-9 header header__nav">
				<ul class="nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="#">JADWAL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pesan.html">PESAN TIKET</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">TENTANG KAMI</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">LOGIN</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<body class="body">
	<div class="first">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<a class="carousel-control-prev" href="#carouselExampleSlidesOnly" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleSlidesOnly" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
				<div class="carousel-item active first__image">
					<img src="image/maxresdefault.jpg" class="d-block w-100">
					<div class="carousel-caption">
						<h3>Pokemon </h3>
						<p>Detective Pikachu</p>
					</div> 
				</div>
				<div class="carousel-item first__image">
					<img src="image/upin.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption">
						<h3>Upin & Ipin</h3>
						<p>Keris Si Amang Tunggal</p>
					</div> 
				</div>
				<div class="carousel-item first__image">
					<img src="image/avengers.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption">
						<h3>Avengers</h3>
						<p>End Game</p>
					</div> 
				</div>
			</div>
		</div>
	</div>
	<div class="second" id="body">
		<div class="container">
			<h2 class="second second__title">Sedang Tayang</h2>
			
			<div class="row second--black">
				<div class="col-md-3 second--cards" v-for="mvie in movie">
					<div class="card-deck">
						<div class="card" style="width: 18rem;">
							<img :src="mvie.image" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{mvie.name}}</h5>
								<p class="card-text">{{mvie.deskripsi}}</p>
								<a href="#" class="btn btn-primary"><i class="fa fa-play-circle"></i> Watch Trailer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- coming soon -->
			<h2 class="second second__title">Akan Datang</h2>
			<div class="row">
				<my-component v-for="cs in csoon" :name="cs.name" :image="cs.image" :deskripsi="cs.deskripsi"></my-component>
			</div>
		</div>
	</div>
</body>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8 footer--lokasi">
				<h5><i class="fas fa-map-marked-alt"></i> Lokasi Bioskop</h5>
				<hr>
				<p><i class="fas fa-map-marker-alt"></i> SAWOJAJAR <br> Jl. Danau Ranau, Sawojajar, Kec. Kedungkandang, Kota Malang, Jawa Timur 65139 </p>
			</div>
			<div class="col-md-4 footer--profile">
				<h5><i class="far fa-address-book"></i> Hubungi Kami</h5>
				<hr>
				<p><i class="fa fa-envelope"></i> E-Mail : movimin@support.com <br> <i class="fa fa-phone"></i> Telepon : (0341) 943433</p>
			</div>
		</div>
	</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
	
	Vue.component('my-component', {
		props: ['cs', 'image', 'deskripsi', 'name'],
		template: `<div class="col-md-3 second--cards">
			<div class="card-deck">
				<div class="card" style="width: 18rem;">
					<img :src="image" class="card-img-top" >
					<div class="card-body">
						<h5 class="card-title">{{name}}</h5>
						<p class="card-text">{{deskripsi}}</p>
						<a href="detail.html">Selengkapnya <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>`
	})
	new Vue({
		el: '#body',
		data: {
			movie:[
			{id:1, name:'Pokemon Detective Pikachu', image:'image/maxresdefault.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:2, name:'Avengers - End Game', image:'image/avengers.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:2, name:'Avengers - End Game', image:'image/avengers.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:3, name:'Upin&Ipin', image:'image/upin.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'}
			],
			csoon:[
			{id:1, name:'Single 2', image:'image/single-part-2.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:2, name:'Aladdin', image:'image/aladdin-2019-poster-1552396612.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:2, name:'Aladdin', image:'image/aladdin-2019-poster-1552396612.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'},
			{id:3, name:'Godzilla', image:'image/godzilla.jpg', deskripsi:'Some quick example text to build on the card title and make up the bulk of the cards content.'}
			]
		}
	})
	
</script>

</html>
